<h2>Edit Produs</h2>

<form [formGroup]="form" (ngSubmit)="saveChanges()">

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nume</mat-label>
        <input matInput formControlName="Name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descriere</mat-label>
        <textarea matInput formControlName="Description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pret</mat-label>
        <input matInput type="number" min="0" formControlName="Price" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Stoc</mat-label>
        <input matInput type="number" min="0" formControlName="Stock" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="CategoryName">
            @for(category of categories; track category.categoryID){

            <mat-option [value]="category.categoryID">
                {{ category.name }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Artisti</mat-label>
        <mat-select formControlName="ArtistName" multiple>
            @for(artist of artists; track artist.artistID)
            {
            <mat-option [value]="artist.artistID">
                {{ artist.name }}
            </mat-option>
            }

        </mat-select>
    </mat-form-field>
    <div *ngIf="products?.productImage">
        <p>Imagine curenta:</p>
        <img 
            [src]="'data:image/png;base64,' + (products?.productImage || '')"
            class="artist-image"
        />
        </div>


      <input type="file" (change)="onFileSelected($event)">


    <div class="buttons">
        <button mat-flat-button color="primary" type="submit">Salveaza</button>
        <a mat-stroked-button routerLink="/product">Anuleaza</a>
      </div>
</form>