
<div class="container">
</div>

<section class="hero">
    <div class="hero-text">
      <h1>Artisan Creations</h1>
      <p>„Arta este ceea ce face viața mai interesantă decât ar fi fără ea.” – Robert F. Kennedy</p>
      <a routerLink="/product" class="shop-button">Descopera produsele noastre</a>
    </div>
  </section>

  <!-- <section class="hero-section">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>Artisan Creations</h1>
      <p>Descoperă piese unice lucrate manual cu dragoste și migală.</p>
      <a routerLink="/product" class="cta-button">Vezi Colecția</a>
    </div>
  </div>
</section> -->