.container {
    margin: 0 100px;
}

.homepage-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Hero Section */
// .hero {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   gap: 20px;
//   margin-bottom: 40px;
//   background-color: #f9f7f1;
//   border-radius: 12px;
//   padding: 30px;
// }

// .hero-text {
//   flex: 1 1 400px;
// }

// .hero-text h1 {
//   font-size: 2rem;
//   margin-bottom: 15px;
//   color: #333;
// }

// .hero-text p {
//   font-size: 1.1rem;
//   line-height: 1.6;
//   margin-bottom: 20px;
//   color: #555;
// }

.shop-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c9abd0;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.shop-button:hover {
  background-color: #ebb1ad;
}


// .hero-image {
//   flex: 1 1 400px;
// }

// .hero-image img {
//   width: 100%;
//   border-radius: 10px;
//   object-fit: cover;
// }