<mat-toolbar>
    <div style="display: flex; flex-direction: row; align-items: center; width: 100%;">
        <button [routerLink]="['']" mat-button="outlined">
            <mat-icon>flare</mat-icon> Handmade Store
        </button>
        <button [routerLink]="['/artist']" mat-button>
            Artisti
        </button>
        <button [routerLink]="['/category']" mat-button>
            Categorii
        </button>
        <button mat-button (click)="resetSearch()">
            Produse
        </button>
        <form (ngSubmit)="onSearch()" style="display: flex; margin-left: 15px;">
            <input 
                class="form-control me-2" 
                type="search" 
                placeholder="Cauta produse..." 
                aria-label="Search"
                [(ngModel)]="searchTerm" 
                name="search"
            >
            <button class="btn btn-outline-warning" type="submit">Cauta</button>
        </form>
        <!-- <span style="flex: 1 1 auto;"></span> -->
         <span class="spacer"></span>

        <div class="auth-group">
        @if (!authService.isLoggedIn()) {
            <button [routerLink]="['/register']" mat-button color="warn">
            Inregistreaza-te
            </button>
            <button [routerLink]="['/login']" mat-button color="warn">
            Conecteaza-te
            </button>
        } @else {
            @if (authService.currentUser()) {
            <span class="user-greeting">
                Salut, {{ authService.currentUser().email }}!
            </span>
            }
            <button (click)="onLogout()" mat-button color="warn">
            <mat-icon>logout</mat-icon> Deconecteaza-te
            </button>
        }
        </div>
    </div>
</mat-toolbar>
