<mat-toolbar>
    <div style="display: flex; flex-direction: row; align-items: center; width: 100%;">
        <button [routerLink]="['']" mat-button="outlined">
            <mat-icon>flare</mat-icon> Handmade Store
        </button>
        <button [routerLink]="['/artist']" mat-button>
            Artisti
        </button>
        <button [routerLink]="['/category']" mat-button>
            Categorii
        </button>
        <button mat-button (click)="resetSearch()">
            Produse
        </button>
        <form (ngSubmit)="onSearch()" style="display: flex; margin-left: 15px;">
            <input 
                class="form-control me-2" 
                type="search" 
                placeholder="Cauta produse..." 
                aria-label="Search"
                [(ngModel)]="searchTerm" 
                name="search"
            >
            <button class="btn btn-outline-warning" type="submit">Cauta</button>
        </form>
    </div>
</mat-toolbar>
