<div class="artists-container">
  <div class="header">
    <h2>Artisti</h2>
    @if (authService.isAdmin()) {
    <a routerLink="/artist-create" mat-flat-button color="primary">Adauga un artist nou</a>
    }
  </div>

  <div class="artists-grid">
    <mat-card class="artist-card" *ngFor="let artist of artists; let i = index">
      <mat-card-header>
        <mat-card-title>{{ artist.name }}</mat-card-title>
      </mat-card-header>

      <div class="artist-image-wrapper" *ngIf="artist.imageSrc">
        <a [routerLink]="['/product/by-artist', artist.artistID]" style="text-decoration: none; color: inherit; font-weight: bold;">
                   
                
        <img [src]="artist.imageSrc" alt="{{ artist.name }}" class="artist-image">
        </a>
      </div>

      <mat-card-content>
        <p>{{ artist.description }}</p>
      </mat-card-content>

      @if (authService.isAdmin()) {
      <mat-card-actions>
        <a [routerLink]="['/artist-edit', artist.artistID]" mat-stroked-button color="primary">Edit</a>
        <button mat-stroked-button color="warn" (click)="delete(artist.artistID)">Sterge</button>
      </mat-card-actions>
    }
    </mat-card>
  </div>
</div>
