.artists-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .artist-card {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;

   .artist-image-wrapper {
    width: 100%;
    //aspect-ratio: 1 / 1;
    height: 200px; 
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artist-image {
    width: 100%;      
    height: 100%;     
    object-fit: cover; 
  }



    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: auto;
    }
  }
}
