mat-card-content p {
  display: -webkit-box;
  //-webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

}
.artists-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin-top: 20px;
 
}

.artist-card {
  display: flex;
  flex-direction: column;
  background-color: #321832d6;
  color: #fff;
}

.artist-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.15);
}

.artist-image-wrapper {
  width: 100%;
  height: 100%; 
  overflow: hidden;
  border-radius: 6px;
  object-fit: cover;
 
}

.artist-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
