<h2>Edit Categorie</h2>

<mat-card class="edit-card">

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="saveChanges()">

      <mat-form-field appearance="outline">
        <mat-label>Nume</mat-label>
        <input matInput formControlName="Name">
      </mat-form-field>

      <div class="buttons">
        <button mat-flat-button color="primary" type="submit">Salveaza</button>
        <a mat-stroked-button routerLink="/category">Anuleaza</a>
      </div>

    </form>
  </mat-card-content>

</mat-card>
